
icones/

*.suo

Tp4/Tp4/bin/Debug/

tp5-essai/\.vs/TP5C/v15/Server/sqlite3/

tp5-essai/TP5C/bin/Debug/fr/

tp5-essai/TP5C/bin/Debug/

tp5-essai/TP5C/obj/Debug/

tp5-essai/TP5C/Properties/

*.exe

*.manifest

*.cache

Tp5/Tp4/obj/Debug/

Tp5/Tp4/Properties/

Tp5/Tp4/bin/Debug/

tp3/Application1/Application1/obj/Debug/

*.config

Tp4/Tp4/Properties/

Tp4/Tp4/obj/Debug/

tp3/Application1/Application1/Properties/
